<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fri-is-63130239.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fri-is-63130239.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>fri-is-63130239</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$fri-is-63130239</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="friisEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=fri-is-db-3072.database.windows.net;Initial Catalog=friis;User ID=nejc;Password=RazmisljaSeMi.2016;Application Name=EntityFramework" Name="Data Source=fri-is-db-3072.database.windows.net;Initial Catalog=friis;User ID=nejc;Password=RazmisljaSeMi.2016;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WcfService1.friisEntities, WcfService1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="friisConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=fri-is-db-3072.database.windows.net;Initial Catalog=friis;User ID=nejc;Password=RazmisljaSeMi.2016;Application Name=EntityFramework" Name="Data Source=fri-is-db-3072.database.windows.net;Initial Catalog=friis;User ID=nejc;Password=RazmisljaSeMi.2016;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=fri-is-db-3072.database.windows.net;Initial Catalog=friis;User ID=nejc;Password=RazmisljaSeMi.2016;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\friisConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=fri-is-db-3072.database.windows.net;Initial Catalog=friis;User ID=nejc;Password=RazmisljaSeMi.2016;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionStrings" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:fri-is-db-3072.database.windows.net,1433;Database=friis;User ID=nejc@fri-is-db-3072;Password=RazmisljaSeMi.2016;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionStrings_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:fri-is-db-3072.database.windows.net,1433;Database=friis;User ID=nejc@fri-is-db-3072;Password=RazmisljaSeMi.2016;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionStrings-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)friisConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=fri-is-db-3072.database.windows.net;Initial Catalog=friis;User ID=nejc;Password=RazmisljaSeMi.2016;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)friisEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=fri-is-db-3072.database.windows.net;Initial Catalog=friis;User ID=nejc;Password=RazmisljaSeMi.2016;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>